{% extends "base.html" %}

{% block head_extra %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }

    .login-container {
        max-width: 400px;
        margin: 10% auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
    }

    input[type="text"], input[type="password"] {
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="password"] {
        margin-bottom: 30px;
    }

    .login-button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .login-button:hover {
        background-color: #0056b3;
    }

    #newacount{
        margin-bottom: 50px;
    }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
    <h2 class="text-center mb-4">ログイン</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="newacount">
            <small>アカウントをまだ作ってない方は<a href="{% url 'signup' %}">こちら</a></small>
        </div>
        <button type="submit" class="login-button">ログイン</button>
    </form>
</div>

<script>
    var user = document.getElementById('username').value;
    var pass = document.getElementById('password').value;
</script>
{% endblock %}
