/* メニューバーのスタイル */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body {
    color: #000;
    background-color: #e7eaaf;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.textWrapperUnit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

a:link,
a:visited {
    color: inherit;
    /* リンクの色を親要素から継承 */
    text-decoration: none;
    /* リンクの下線をなくす */
}
