.red-button {
  background-color: red;
}

.white-button {
  background-color: white;
}

.green-button {
  background-color: green;
}

.blue-button {
  background-color: blue;
}

.purple-button {
  background-color: purple;
}

.orange-button {
  background-color: orange;
}

.pink-button {
  background-color: pink;
}

.cyan-button {
  background-color: cyan;
}

.brown-button {
  background-color: brown;
}

.gray-button {
  background-color: gray;
}

.lime-button {
  background-color: lime;
}

.violet-button {
  background-color: violet;
}

.indigo-button {
  background-color: indigo;
}
