<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Rits小町のtodoリスト</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <meta name="theme-color" content="#fafafa">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <link rel="stylesheet" href="{% static 'menu-bar.css' %}">
    <link rel="stylesheet" href="{% static 'underline.css' %}">
    <link rel="stylesheet" href="{% static 'addbutton.css' %}">
    <link rel="stylesheet" href="{% static 'list.css' %}">
    <style>
        .tag1 { background-color: orange; }
        .tag2 { background-color: lightblue; }
        .tag3 { background-color: yellow; }
        .tag4 { background-color: pink; }
        .tag5 { background-color: yellowgreen; }
    </style>

</head>

<body>
    <td><button id="toggle-button">メニューを表示</button></td>
    <nav id="menu-bar">
        <nav id="option-button">
            <a href="{% url 'todo_home' %}"><img src="{% static 'option.png' %}" alt="option"></a>
        </nav>
        <ul>
            <li class="textWrapper">
                <span class="backgroundImage">
                    <a href="{% url 'list' %}">ホーム</a>
                </span>
            </li>
            <li class="textWrapper">
                <span class="backgroundImage">
                    <a href="{% url 'todo_home' %}">今日のTodo</a>
                </span>
            </li>
            <li class="textWrapper">
                <span class="backgroundImage">
                    {% now "Y" as current_year %}
                    {% now "m" as current_month %}
                    <a href="{% url 'calender' year=current_year month=current_month %}">カレンダー</a>
                </span>
            </li>
            <li class="textWrapper">
                <span class="backgroundImage">
                    <a href="{% url 'category' %}">カテゴリー管理</a>
                </span>
            </li>
            <li class="textWrapper">
                <span class="backgroundImage">
                    <a href="{% url 'logout' %}">ログアウト</a>
                </span>
            </li>
        </ul>
    </nav>

    <br>
    <h1 id="tit">Todoリスト一覧</h1>
    <h2>重さのみ考慮</h2>
    <a href="{% url 'todo_importance' %}"><button >重さ考慮</button></a>
    <form method="post" action="{% url 'delete' %}">
        {% csrf_token %}
        <div>
            <table>
                <tr class="tag{{ todo.tag }}">
                    <th></th>
                    <th>内容</th>
                    <th>期限</th>
                    <th>重さ</th>
                    <th>タグ</th>
                </tr>
                {% for todo in todos %}
                <tr class="tag{{ todo.tag }}">
                    <td><input type="checkbox" name="task_ids" value="{{todo.id}}"></td>
                    <div style="background-color: {{ todo.tag.color }};">
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.deadline }}</td>
                    <td>{{ todo.importance }}</td>
                    <td>{{ todo.tag }}</td>
                    <td><a href="{% url 'detail' todo.todo_id %}">詳細</a></td>
                    <td><a href="{% url 'update' todo.todo_id %}">編集</a></td>
                    </div>
                </tr>
                {% endfor %}
            </table>
        </div>
        <button type="submit" id="deleteSelectedButton" style="display: none;">選択したタスクを削除</button>

    </form>
    <p><a href="{% url 'create_todo' %}"><button id="add-button">+</button></a></p>
    <script src="{% static 'script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let checkboxes = document.querySelectorAll('input[type="checkbox"][name="task_ids"]');
            let deleteButton = document.getElementById('deleteSelectedButton');

            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    // チェックされているチェックボックスの数を数える
                    let checkedCount = 0;
                    checkboxes.forEach(function(c) {
                        if (c.checked) {
                            checkedCount++;
                        }
                    });

                    // チェックが一つ以上あればボタンを表示、なければ非表示
                    if (checkedCount > 0) {
                        deleteButton.style.display = 'block';
                    } else {
                        deleteButton.style.display = 'none';
                    }
                });
            });
        });
    </script>
</body>
